page-list-menutreino {
    
    .bg {
        background-image: url('../../assets/imgs/background.jpg');
        background-size: cover;  //img preenche tela
        border-width: medium;
        
    }

    .bg-menu {
        background-color: #F5FFFA;
        border-style: inset;
        border-width: medium;
      
    }
}
