page-contato {


    .bg-menu {
    background-color: #F5FFFA;
    font-size: 14px;

}
hr {
    border: 2px solid red !important;
    height: 10px !important;
    width: 500px !important;
    background: blue !important;
    display: block !important;
    font-size: 2em !important;
    visibility: visible !important;
  }

    p{
        font-size: 14px;
    }

}
