page-list-treino {
    
    .bg-menu {
        background-color: #F5FFFA;
        border-style: inset;
        border-width: medium;
      
    }
    .bg-logout {
        width: 250px;
        border-radius: 4px;
        float:right
   }

   p {
    width: 115px;
    font-size: 13px;
    border-radius: 4px;
    float:left
}
}
