<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >

  <form [formGroup]="form">

    <ion-item>
      <ion-label stacked>Treinos Da Semana:</ion-label>
      <ion-select formControlName="titulo">
        <ion-option value="Segunda Feira">Segunda Feira</ion-option>
        <ion-option value="Terça Feira">Terça Feira</ion-option>
        <ion-option value="Quarta Feira">Quarta Feira</ion-option>
        <ion-option value="Quinta Feira">Quinta Feira</ion-option>
        <ion-option value="Sexta Feira">Sexta Feira</ion-option>
        <ion-option value="Sábado">Sábado</ion-option>
        <ion-option value="Domingo">Domingo</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
        <ion-label stacked>Objetivo:</ion-label>
        <ion-select formControlName="objetivo">
          <ion-option value="Emagrecimento">Emagrecimento</ion-option>
          <ion-option value="Resistência Muscular">Resistência Muscular</ion-option>
          <ion-option value="Hipertrofia Muscular">Hipertrofia Muscular</ion-option>
          <ion-option value="Ganho de força">Ganho de força</ion-option>
        </ion-select>
      </ion-item>

      
    <ion-item>
      <ion-label stacked>Grupo Muscular</ion-label>
      <ion-select formControlName="grupoMuscular">
        <ion-option value="Abdominal">Abdominal</ion-option>
        <ion-option value="Trapézio">Trapézio</ion-option>
        <ion-option value="Dorsal">Dorsal</ion-option>
        <ion-option value="Ombro posterior">Ombro posterior</ion-option>
        <ion-option value="Ombro frontal">Ombro frontal</ion-option>
        <ion-option value="Ombro Lateral">Ombro Lateral</ion-option>
        <ion-option value="Peito superior">Peito superior</ion-option>
        <ion-option value="Peito">Peito</ion-option>
        <ion-option value="Biceps">Biceps</ion-option>
        <ion-option value="Triceps Lateral">Triceps Lateral</ion-option>
        <ion-option value="Triceps branquial">Triceps branquial</ion-option>
        <ion-option value="Antebraço">Antebraço</ion-option>
        <ion-option value="Glúteo">Glúteo</ion-option>
        <ion-option value="Quadrícepes">Quadrícepes</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label stacked>Grupo Muscular</ion-label>
        <ion-select formControlName="grupoMuscular2">
          <ion-option value="Abdominal">Abdominal</ion-option>
          <ion-option value="Trapézio">Trapézio</ion-option>
          <ion-option value="Dorsal">Dorsal</ion-option>
          <ion-option value="Ombro posterior">Ombro posterior</ion-option>
          <ion-option value="Ombro frontal">Ombro frontal</ion-option>
          <ion-option value="Ombro Lateral">Ombro Lateral</ion-option>
          <ion-option value="Peito superior">Peito superior</ion-option>
          <ion-option value="Peito">Peito</ion-option>
          <ion-option value="Biceps">Biceps</ion-option>
          <ion-option value="Triceps Lateral">Triceps Lateral</ion-option>
          <ion-option value="Triceps branquial">Triceps branquial</ion-option>
          <ion-option value="Antebraço">Antebraço</ion-option>
          <ion-option value="Glúteo">Glúteo</ion-option>
          <ion-option value="Quadrícepes">Quadrícepes</ion-option>
        </ion-select>
      </ion-item>

    <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar Treino</button>

    <ion-segment color="dark">
      <ion-segment-button value="standard">
        EXERCÍCIOS
      </ion-segment-button>
    </ion-segment>

    <ion-list>
        <ion-item-sliding *ngFor="let exercise of listExercise">
    
       
    
          <ion-item-options side="left">
            <button ion-button color="secondary" (click)="editExercise(exercise)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button color="danger" (click)="removeExercise(exercise.key)">
              <ion-icon name="trash"></ion-icon>
            </button>
            
          </ion-item-options>
    
          
        </ion-item-sliding>
      </ion-list>



      <ion-list>
          <ion-item-sliding *ngFor="let exercise of listExercise">
            <ion-item>
                <h2>Exercício: {{exercise.nomeExercicio}}</h2>
                <h4>Musculo: {{exercise.grupoMuscular}}</h4>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                        <p>Série</p>
                    </ion-col>
                    <ion-col col-6>
                        <p>Repetição</p>
                    </ion-col>
                    <ion-col>
                        <p>Carga</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                     <ion-col>
                        <p>{{exercise.serie}}</p>
                     </ion-col>
                     <ion-col col-6>
                        <p>{{exercise.repeticao}}</p>
                     </ion-col>
                     <ion-col>
                        <p>{{exercise.carga}}</p>
                     </ion-col>
                    </ion-row>
                  </ion-grid>
            </ion-item>


        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="editExercise(exercise.keyExercise)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeExercise(exercise.keyExercise)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </form>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="navigateAddWorkoutexercisePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>