page-home {

    ion-content {
      //  background: #CED8E0 !important;
    }

    .bg {
        background-image: url('../../assets/imgs/background.jpg');
        background-size: cover;  //img preenche tela
        
        
    }

    .bg-menu {
        background-color: #F5FFFA;
        border-style: inset;
        border-width: medium;
      
    }

    .bg-logout {
     width: 250px;
     border-radius: 4px;
     float:right
}


}
